h2.Tlocation{
    background: rgba(253, 254, 254, 0.08);
    margin: 0;
    color: #ffdd57;
    text-shadow: 1px 1px 2px #1a1a1a;
    padding: 5px;
    font-weight: 400;
    box-shadow: inset 0px 0px 13px #cccccc36;
}
.sidebar{
    background: rgb(253,254,254, 0.1);
    box-shadow: inset 0px 0px 3px #fff;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.wraplocation{
    padding:0;
    text-align: center;
    cursor: pointer;
}
.wheadericon{
    border-radius: 5px;
    padding: 10px;
    margin: 16px 0;
    color: #fff;
    font-size: 13px;
    border: 1px solid rgba(253, 254, 254, 0.05);
}
.wheadericon strong{
    color: #fff;
}

.geticon{
    margin:0 10px;
}